<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/Cliente">Cliente</a>
        </li>
        <li>
            <a href="/Comentario">Comentario</a>
        </li>
        <li>
            <a href="/DetalleCliente">DetalleCliente</a>
        </li>
        <li>
            <a href="/Empleado">Empleado</a>
        </li>
        <li>
            <a href="/Entrenador">Entrenador</a>
        </li>
        <li>
            <a href="/EquipoEntrenamiento">EquipoEntrenamiento</a>
        </li>
        <li>
            <a href="/EvaluacionFisica">EvaluacionFisica</a>
        </li>
        <li>
            <a href="/Evento">Evento</a>
        </li>
        <li>
            <a href="/Factura">Factura</a>
        </li>
        <li>
            <a href="/InsumoDeportivo">InsumoDeporrtivo</a>
        </li>
        <li>
            <a href="/Membresia">Membresia</a>
        </li>
        <li>
            <a href="/Pago">Pago</a>
        </li>
        <li>
            <a href="/PlanNutricional">PlanNutricional</a>
        </li>
        <li>
            <a href="/ProgramaEntrenamiento">ProgramaEntrenamiento</a>
        </li>
        <li>
            <a href="/Promocion">Promocion</a>
        </li>
        <li>
            <a href="/Publicacion">Publicacion</a>
        </li>
        <li>
            <a href="/RutinaEntrenamiento">RutinaEntrenamiento</a>
        </li>
        <li>
            <a href="/Sucursal">Sucursal</a>
        </li>
        <li>
            <a href="/TransaccionInsumo">TransccionInsumo</a>
        </li>
        <li>
            <a href="/signin">Iniciar sesión</a>
        </li>
        <li>
            <a href="/signup">Crear Cuenta</a>
        </li>
        
{% block content %}
{% endblock %}